/* Created by Olga Tarassova 2016 */

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

html, body {
  height:100%;
  margin:0;
  padding:0;
}

body {
    font-family: 'Poiret One', cursive, sans-serif;
    background: url(../img/bg2.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #d3d3d3;
}

.page-header {
  background-color: #6C7A89;
  margin: 0;
  padding: 0;
  border: none;
}

h2, h4 {
  color: #d3d3d3;
}

.container-fluid {
  margin: 0;
  padding: 0;
  padding-bottom: 60px;
}

.panel {
  margin-top: 15px;
  background-color: #6C7A89;
  border: none !important;
}

button {
  font-weight: bold !important;
  color: #fff;
  border-radius: 10px !important;
  padding: 0;
  text-align: center;
}

.venue-filter {
  padding: 0;
}

#search-btn {
  font-size: 0.6em !important;
}

#venue-filter-btn {
  font-size: 0.6em !important;
}

li a  {
  font-weight: bold !important;
  font-size: 0.7em !important;
}

img {
  width: 100%;
  height: 100%;
}

#input-date {
  border-radius: 8px;
  font-weight: bold;
  color: black;
  font-size: 0.6em;
  padding: 0 5px;
}

#info-div {
  font-size: 0.8em;
}

a {
  color: #fff;
  padding: 0 !important;
  text-decoration: none !important;
}

a:visited {
  color: #fff;
  text-decoration: none !important;
}

a:hover {
  color: blue;
  font-weight: bold;
  text-decoration: none !important;
}

a:active {
  color: #fff;
  text-decoration: none !important;
}

/* Footer */

footer {
  text-align: center;
  color: #d3d3d3;
  height: 40px;
  background-color: #6C7A89;

}

.footer-paragraph {
  margin: 0 auto;
  padding: 10px 0px;
  font-size: 1em;
}

/* Media queries */

@media screen and (min-width: 640px)  {

  #info-div {
    font-size: 1.2em;
  }

  #input-date {
    font-size: 1em;
  }

  #search-btn {
    font-size: 1.1em !important;
  }

  #venue-filter-btn {
    font-size: 1.1em !important;
  }

  li a {
    font-weight: bolder !important;
    font-size: 1em !important;
  }

}
